{% extends 'base.html' %}

{% block content %}
    <center>
      <h1>Input Order</h1>
    </center>
    <section>
      <div class="main-content">
        <div class="container mt-5">
            <div class="row">
                <div class="col" style="margin-right: 5px;">
                  <form class="d-flex mb-2">
                    <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search" name="search">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                  </form>
                  <div class="card shadow">
                    <div class="card-header border-0">
                      <h3 class="mb-0">Daftar Barang</h3>
                    </div>
                    <div class="table-responsive">
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                          <tr>
                            <th>Nama Barang</th>
                            <th>KODE Barang</th>
                            <th>HARGA</th>
                            <th></th>
                          </tr>
                        </thead>
                        {% for barang in barangs %}
                        <tbody>
                          <tr>
                            <th>
                              <div class="media align-items-center">
                                <div class="media-body">
                                  <span class="mb-0 text-sm">{{ barang.barang }}</span><br> Stok: {{ barang.quantity }}
                                </div>
                              </div>
                            </th>
                            <td>
                                {{ barang.kode }}
                            </td>
                            <td>
                                Rp.{{ barang.harga }}
                            </td>
                            <td>
                                <div class="control">
                                    <form action="{% url 'add_cart' barang.id %}" method="post">
                                        {{ cart_product_form }}
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary">Beli</button>
                                    </form>
                                </div>
                            </td>
                          </tr>
                          {% endfor %}
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="pagination d-flex justify-content-center">
                        <span class="step-links">
                            {% if barangs.has_previous %}
                                <a href="?search={{ search }}&page=1">&laquo; first</a>
                                <a href="?search={{ search }}&page={{ barangs.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ barangs.number }} of {{ barangs.paginator.num_pages }}.
                            </span>

                            {% if barangs.has_next %}
                                <a href="?search={{ search }}&page={{ barangs.next_page_number }}">next</a>
                                <a href="?search={{ search }}&page={{ barangs.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>


                  </div>
                </div>

                <div class="col">
                  <div class="card shadow">
                    <div class="card-header border-0">
                      <h3 class="mb-0">Input Order</h3>
                    </div>
                    <div class="table-responsive">
                      <div class="table">
                          <table class="table is-narrow">
                              {% if cart %}
                              <thead>
                                <tr>
                                  <th>No</th>
                                  <th>Produk</th>
                                  <th>Jumlah</th>
                                  <th>Harga(Rp)</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for item in cart %}
                                {% with product=item.product %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td class="is-size-6-mobile">
                                            {{ product.barang }} <br> Stok: {{ item.stok }}
                                        </td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.total_price|add:"0" }}</td>
                                        <td><button class="btn is-danger is-size-7-mobile"><a href="{% url 'remove_cart' product.id %}">Hapus</a></button></td>
                                    </tr>
                                    {% if item.product.diskon %}
                                    <tr>
                                      <td></td>
                                      <td>Diskon {{ item.product.diskon|add:"0" }} %</td>
                                      <td></td>
                                      <td>{{ item.total_diskon|add:"0" }}</td>
                                      <td></td>
                                    </tr>
                                    {% endif %}

                                {% endwith %}
                              {% endfor %}
                              </tbody>
                              <tfoot>
                                  <tr>
                                      <td>SubTotal harga</td>
                                      <td></td>
                                      <td>{{ cart.get_total_quantity }}</td>
                                      <td>{{ cart.get_subtotal_price|add:"0" }}</td>
                                  </tr>
                                  <tr>
                                      <td>Total Diskon</td>
                                      <td></td>
                                      <td></td>
                                      <td>{{ cart.get_total_diskon }}</td>
                                  </tr>
                                  <tr>
                                      <td>Total harga</td>
                                      <td></td>
                                      <td>{{ cart.get_total_quantity }}</td>
                                      <td>{{ cart.get_total_price }}</td>
                                  </tr>
                              </tfoot>
                              {% else %}
                              <thead>
                                <tr>
                                  <th>No</th>
                                  <th>Produk</th>
                                  <th>Jumlah</th>
                                  <th>Harga</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th>No order yet!</th>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                </tr>
                              </tbody>
                              {% endif %}
                          </table>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </section>

{% endblock %}