{% load static %}


{% block navbar %}

<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Responsive Sidebar Menu  | CodingLab </title>
    <link rel="stylesheet" href="style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% comment %} <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> {% endcomment %}
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <link rel="stylesheet" href="{% static 'css/table.css' %}">
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

     <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
   </head>
<body>
    {% include 'navbar.html' %}
    <div class="home-section">
        <div class="text"></div>
        {% block content %}
        {% endblock %}
    </div>
    {% block script %}
    {% endblock %}
</body>
</html>

{% endblock navbar %}